<h2>
  Quiz: el juego de preguntas!</h2>

<form method="get" action="/quizes/answer">
  Pregunta:
  <%= question %>
    <input type="text" name="answer" placeholder="Aqui su respuesta...">
    <button type="submit">Enviar</button>
</form>
